.recipe {
  // padding: 32px;
  // width: min-content;
  // border: 1px solid #9f9f9f;

  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;

  &__info {
    width: 500px;
  }

  &__image {
    width: 506px;
    height: 506px;
    margin-bottom: 15px;
    object-fit: cover;
  }

  &__category {
    display: block;
    text-align: start;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 500;
  }

  &__title {
    padding-bottom: 7px;
    display: block;
    text-align: start;
    border-bottom: 1px solid #9f9f9f;
    margin-bottom: 5px;
    font-size: larger;
    font-weight: 900;
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
  }

  &__ingredient {
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--active {
      color: green;
    }
  }

  &__actions {
    display: flex;
    justify-content: start;
    gap: 4px;
  }
}