.selector {
  width: 200px;
  height: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  border: 1px solid gray;
  color: gray;
  padding: 10px;

  &__option {
    height: 25px;
  }
}
